<p>Hey, I’m <span class="my-name mark-line">Wentao</span>, AKA <span class="my-name mark-line">Frank</span> in Nvidia.</p>
<ul>
  <li>
    <p><strong>Study</strong></p>
    <p>Stay hungry, stay foolish.</p>
  </li>
  <li>
    <p><strong>Work</strong></p>
    <p>I'm interested in Embedded software, Autonomous system, Machine learning compiler.</p>
  </li>
  <li>
    <p><strong>Life</strong></p>
    <p>Dream big, play hard, make life happen!</p>
  </li>
  <li>
    <p><strong>Thought</strong></p>
    <p>Do the best you can until you know better. Then when you know better, do better.</p>
  </li>
</ul>
{{- $tgIcon := resources.Get "images/forge-v2-colored.svg" }}
<!--p>
  <span class="telegram-channel">
    <a href="https://t.me/reorx_share" target="_blank">{{- $tgIcon.Content | safeHTML -}}Reorx’s Footprints</a>
  </span>
  is the Telegram Channel that <mark>aggregates the content I consume and create on the Internet.</mark> Join to get my updates and learn new things with me there.
</!--p-->
<!--p>You can also find me at the links below.</!--p>
