<p>Hey, I’m <span class="my-name mark-line">Wentao</span>, AKA <span class="my-name mark-line">Frank</span> in Nvidia.</p>
<ul>
  <li>
    <p><strong>Career</strong></p>
    <p>I am an aspiring engineer with a great deal of fascination in Autonomous system and Embedded software.</p>
  </li>
  <li>
    <p><strong>Work</strong></p>
    <p>I am an aspiring engineer with a great deal of fascination in Autonomous system and Embedded software.</p>
  </li>
  <li>
    <p><strong>Open-source enthusiast</strong></p>
    <p>I’ve always been passionate about sharing the code and solutions I worked out. I maintain projects like Python
      libraries, Chrome Extensions, and Obsidian plugins on GitHub in my spare time.</p>
  </li>
  <li>
    <p>and <strong>Product maker</strong></p>
    <p>I love making products, and I see it as the highest pursuit of my career. Over the years, I've independently built many products, either for companies or as open-source projects.
    Since last year, I’ve been working as the co-founder of a SaaS product that refines the way to collect and ingest information.</p>
  </li>
</ul>
{{- $tgIcon := resources.Get "images/forge-v2-colored.svg" }}
<p>
  <span class="telegram-channel">
    <a href="https://t.me/reorx_share" target="_blank">{{- $tgIcon.Content | safeHTML -}}Reorx’s Footprints</a>
  </span>
  is the Telegram Channel that <mark>aggregates the content I consume and create on the Internet.</mark> Join to get my updates and learn new things with me there.
</p>
<p>You can also find me at the links below.</p>
